.button {
    border: none;
    outline: none;
    background: transparent;
    border-radius: 7px;
    padding: 12px 17px 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FAFBFB;
    text-decoration: none;
}
.button--blue {
    background: #26213F;
}