.guide {
    padding: 60px 0;
}
.guide__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.guide__questions {
    margin-top: 60px;
}
.guide__question-ask + .guide__question-ask {
    margin-top: 20px;
}

.guide__ask {
    display: none;
}
.guide__question-ask--active {
    .guide__ask  {
        display: block;
    }
}
.guide__question-ask {
    padding: 20px 20px 15px;
    transition: 2s all;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.295);
    cursor: pointer;
}
.guide__question {
    font-family: TT Commons;
    font-size: 26px !important;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    -webkit-transition: .5s all;
    transition: .5s all;
    color: #26213f;
}